.addNewCardCentre {
    display: flex;
    justify-content: center;
}

.oneUnderTheOther{
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
}
