.input{
    border: none;
    border-bottom-width: 2px; /* Толщина линии внизу */
    border-bottom-style: solid; /* Стиль линии внизу */
    border-bottom-color: #868686; /* Цвет линии внизу */
    width: 347px;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.text {
    color: #868686;
    width: 70%;
}

.text2{
    color: #868686;
}