.profile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.avatar{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.avatarNoPhoto{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #cbcbcb;
}

.textName {
    color: #868686;
    border: solid 1px red;
}

.iconButton {

}
