.learn{
    height: 90vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: Montserrat, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 25px;
}

.learnForm {
    width: 500px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px rgba(1,1,1,0.1) solid;
    background-color: white;
    gap: 30px;
}

.question {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.answer {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.tries{
    opacity: 70%;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.rate{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}

.radio{

}

.button {
    width: 80%;
    color: white;
    background-color: #366EFF;
    border-radius: 30px;
    height: 40px;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    font-size: 16px;
    text-transform: capitalize;
}