.container{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.packsHeader{
    display: flex;
    justify-content: space-between;
}
.packsHeaderIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rowAboveTable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

