.container{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.packsHeader{
    display: flex;
    justify-content: space-between;
}
.packsHeaderIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rowAboveTable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input{
    box-sizing: border-box;
    width: 413px;
    height: 36px;
    left: 136px;
    top: 192px;
}

.slider{
    display: flex;
    flex-direction: row;
}

.number{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 10px;
}

.filter{
    display: flex;
    align-items: flex-end;
}
.filterBox{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 7px;
}

